footer {
	background-color: #454545;
	color: rgba(255,255,255,0.7);
	padding: 32px;
	position: fixed;
	width: 100%;
	bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}